.sidebarOption {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    -webkit-transition: 200ms color ease-in;
    -moz-transition: 200ms color ease-in;
    -ms-transition: 200ms color ease-in;
    -o-transition: 200ms color ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}
.sidebarOption .title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}